.login {
  text-align: center;
  width: 35%;
  z-index: 2;
}

.loginInput {
  width: 100%;
  border-radius: 5px;
  padding: 15px 20px;
  margin-top: 20px;
  border: none;
  &:focus {
    border: 2px solid $primary-color;
  }
}

.btn {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: $primary-color;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  width: 100%;
  margin-top: 20px;
  &:focus {
    outline: 0;
  }
  &:hover {
    background-color: $brunswick-green;
    color: $primary-color;
    cursor: pointer;
  }
}
