* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  &::-webkit-scrollbar {
    width: 0.5rem;
  }
  &::-webkit-scrollbar-thumb {
    background-color: darkgrey;
  }
}

.main {
  background-color: $bg;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $black;
}

.line {
  position: absolute;
  left: 0;
  z-index: 1;
}
