//estilos Information
.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: $primary-color;
  border-radius: 10px 10px 0 0;
  height: 60px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.left {
  flex: 0.5;
  display: flex;
  align-items: center;
  margin-left: 5%;
  color: white;
}

.right {
  display: flex;
  flex: 0.5;
  justify-content: flex-end;
  margin-right: 5%;
}
.exit {
  padding: 5px 8px;
  border-radius: 50%;

  &:hover {
    background-color: $brunswick-green !important;
  }
}

.online {
  margin-right: 5%;
}
