//text container
.onlineList {
  background-color: $bg-light;
  height: 70%;
  color: $black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 2;
  border-radius: 10px;
}
.heading {
  padding: 10px 20px;
  background-color: $primary-color;
  border-radius: 10px 10px 0 0;
  color: white;
}
.users {
  display: flex;
  align-items: center;
  margin-bottom: 50%;
  flex-direction: column;
}
.user {
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid $gray;
  width: 100%;
  a {
    text-decoration: none;
    color: $black;
  }
  &:hover {
    background-color: $turquoise-green;
    color: $primary-color;
    cursor: pointer;
  }
}
