* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html::-webkit-scrollbar {
  width: 0.5rem;
}

html::-webkit-scrollbar-thumb {
  background-color: darkgrey;
}

.main {
  background-color: #081c15;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #232a32;
}

.line {
  position: absolute;
  left: 0;
  z-index: 1;
}

* {
  font-family: "Montserrat", sans-serif;
}

.title {
  color: #d8f3dc;
  font-size: 2.5em;
  padding-bottom: 10px;
  font-family: "Lobster Two", cursive;
}

.subtitle {
  color: #d8f3dc;
  font-size: 1.2em;
  padding-bottom: 10px;
  border-bottom: 2px dashed #d8f3dc;
  font-style: italic;
}

.subtitle--black {
  color: #232a32;
  border-bottom: 2px dashed #232a32;
}

.subtitle span {
  font-size: 0.7rem;
}

@media (min-width: 320px) and (max-width: 480px) {
  .main {
    height: 100%;
  }
  .login {
    width: 90%;
  }
  .container {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 480px) and (max-width: 1200px) {
  .container {
    width: 60%;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .onlineList {
    display: none;
  }
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #74c69d;
  border-radius: 10px 10px 0 0;
  height: 60px;
  width: 100%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.left {
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 5%;
  color: white;
}

.right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 5%;
}

.exit {
  padding: 5px 8px;
  border-radius: 50%;
}

.exit:hover {
  background-color: #2d6a4f !important;
}

.online {
  margin-right: 5%;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 2px solid #74c69d;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.input {
  border: none;
  border-radius: 0 0 10px 10px;
  padding: 5%;
  width: 85%;
  font-size: 1.1em;
  background-color: #eefff1;
}

.input:focus {
  outline: none;
}

.btn-secondary {
  background: #74c69d;
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  border: none;
  padding: 20px;
  width: 15%;
  border-radius: 0 0 10px 0;
  font-size: 2rem;
}

.btn-secondary:hover {
  background-color: #2d6a4f;
  color: #74c69d;
  cursor: pointer;
}

.list {
  padding: 5% 0;
  overflow: auto;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}

.message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0 5%;
  margin-top: 3px;
  margin-bottom: 7px;
}

.message_box {
  background: #e5e5e5;
  border-radius: 20px;
  padding: 5px 20px;
  color: white;
  display: inline-block;
  max-width: 80%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.message_text {
  width: 100%;
  letter-spacing: 0;
  float: left;
  font-size: 1.1em;
  word-wrap: break-word;
}

.message_sent {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.message_sent > .username {
  padding-right: 10px;
}

.message_recieved {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.message_recieved > .username {
  padding-left: 10px;
}

.sent {
  background: #2d6a4f;
  color: white;
}

.recieved {
  background: #eefff1;
  color: #232a32;
}

.username {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #828282;
  letter-spacing: 0.3px;
}

.onlineList {
  background-color: #e9ffec;
  height: 70%;
  color: #232a32;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 2;
  border-radius: 10px;
}

.heading {
  padding: 10px 20px;
  background-color: #74c69d;
  border-radius: 10px 10px 0 0;
  color: white;
}

.users {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  border-bottom: 1px solid #e5e5e5;
  width: 100%;
}

.user a {
  text-decoration: none;
  color: #232a32;
}

.user:hover {
  background-color: #b7e4c7;
  color: #74c69d;
  cursor: pointer;
}

.chat {
  gap: 3rem;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #e9ffec;
  border-radius: 10px;
  height: 70%;
  width: 50%;
  z-index: 2;
}

.login {
  text-align: center;
  width: 35%;
  z-index: 2;
}

.loginInput {
  width: 100%;
  border-radius: 5px;
  padding: 15px 20px;
  margin-top: 20px;
  border: none;
}

.loginInput:focus {
  border: 2px solid #74c69d;
}

.btn {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #74c69d;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  width: 100%;
  margin-top: 20px;
}

.btn:focus {
  outline: 0;
}

.btn:hover {
  background-color: #2d6a4f;
  color: #74c69d;
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */