//colores
$bg: #081c15;
$bg-darl: #1a1a1a;
$bg-light: #e9ffec;
$primary-color: #74c69d;
$brunswick-green: #2d6a4f;
$turquoise-green: #b7e4c7;
$nyanza: #d8f3dc;
$nyanza-light: #eefff1;
$gray: #e5e5e5;
$dark-gray: #828282;
$black: #232a32;
